header nav.site-nav ul li:not(:last-child) {
    margin: 0 0.9rem;
}
header  nav.site-nav ul li a.phone {
    color: #000;
    font-weight: bold;
    font-size: 1.1rem;
}
.header__mobile-phone {
    display: none;
}
@media (max-width: 585px) {
    .header__mobile-phone {
        display: block;
        align-self: flex-end;
        flex-grow: 2;
        text-align: right;
        padding: 0 25px 0 0;
    }
    .header__mobile-phone img {
        width:25px;
    }
}
.sect-text p {
	margin-bottom:15px;
}

/*start: new-year*/
.new-year-popup {
	position:fixed;
	width:100%;
	z-index:9999;
	top:10%;
	display:flex;
	justify-content: center;
}
.new-year-popup .new-year-block {
	position:relative;
	max-width:80%;
}
.new-year-popup .close {
	position:absolute;
	right: 10px;
	top:10px;
	width:36px;
	height:36px;
	border:3px solid #fff;
	border-radius:20px;
	cursor: pointer;
	z-index:10000;
}
.new-year-popup .close:before {
	position: absolute;
    left: 14px;
    top: 5px;
    content: ' ';
    height: 20px;
    width: 3px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.new-year-popup .close:after {
	position: absolute;
    left: 14px;
    top: 5px;
    content: ' ';
    height: 20px;
    width: 3px;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.new-year-popup .new-year-block > a {

}
.new-year-popup img {
	max-width:100%;
	max-height: 90vh;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/*end: new-year*/


/*start: new logo*/
.sect-arenda .content .logos-wall {
	grid-template-rows: repeat(4, minmax(0, 100%));
	grid-template-areas: 
	"t1 . t2 . t3 . t4 . t5 ." 
	". c1 . c2 . c3 . c4 . c5" 
	"b1 . b2 . b3 . b4 . b5 ." 
	"newlogo newlogo newlogo newlogo newlogo newlogo newlogo newlogo newlogo newlogo";
}
.sect-arenda .content .logos-wall .new-logo{
	grid-area: newlogo;		
	display: grid;
    width: 100%;    
	grid-template-columns: repeat(10, minmax(0, 100%));
	-ms-grid-columns: minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%);
	grid-template-rows: repeat(1, minmax(0, 100%));
	-ms-grid-rows: minmax(0, 100%);
	grid-auto-rows: minmax(0, 100%);
	-ms-grid-auto-rows: minmax(0, 100%);
	grid-template-areas: ". new1 . new2 . new3 . new4 . new5";
	
}
.sect-arenda .content .logos-wall .new-logo .item:nth-child(1) {
	grid-area: new1;
}
.sect-arenda .content .logos-wall .new-logo .item:nth-child(2) {
	grid-area: new2;
}
.sect-arenda .content .logos-wall .new-logo .item:nth-child(3) {
	grid-area: new3;
}
.sect-arenda .content .logos-wall .new-logo .item:nth-child(4) {
	grid-area: new4;
}
.sect-arenda .content .logos-wall .new-logo .item:nth-child(5) {
	grid-area: new5;
}
@media (min-width: 2195px) {
  .sect-arenda .content .logos-wall {
    grid-template-rows: repeat(4, minmax(0, 100%));
    -ms-grid-rows: minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%);
    grid-template-areas: "t1 . t2 . t3 . t4 . t5 ." ". c1 . c2 . c3 . c4 . c5" "b1 . b2 . b3 . b4 . b5 ." ". b21 . b22 . b23 . b24 . b25";    
  }
}
@media (min-width: 2550px) {
  .sect-arenda .content .logos-wall {
    grid-template-rows: repeat(4, minmax(0, 100%));
    -ms-grid-rows: minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%);
    grid-template-areas: "t1 . t2 . t3 . t4 . t5 ." ". c1 . c2 . c3 . c4 . c5" "b1 . b2 . b3 . b4 . b5 ." ". b21 . b22 . b23 . b24 . b25";    
  }
}
@media (max-width: 1802px) {
  .sect-arenda .content .logos-wall {
    grid-template-rows: repeat(5, minmax(0, 100%));
    -ms-grid-rows: minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%);
    grid-template-areas: "t1 . t2 . t3 . t4 . t5 ." ". c1 . c2 . c3 . c4 . c5" "b1 . b2 . b3 . b4 . b5 ." ". b21 . b22 . b23 . b24 . b25" "newlogo newlogo newlogo newlogo newlogo newlogo newlogo newlogo newlogo newlogo";
  }
  .sect-arenda .content .logos-wall .new-logo{
	  grid-template-areas: "new1 . new2 . new3 . new4 . new5 .";
  }
}
@media (max-width: 1536px) {
  .sect-arenda .content .logos-wall {
    grid-template-rows: repeat(5, minmax(0, 100%));
    -ms-grid-rows: minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%);
    grid-template-areas: "t1 . t2 . t3 . t4 . t5 ." ". c1 . c2 . c3 . c4 . c5" "b1 . b2 . b3 . b4 . b5 ." ". b21 . b22 . b23 . b24 . b25"  "newlogo newlogo newlogo newlogo newlogo newlogo newlogo newlogo newlogo newlogo";
  }
}
@media (max-width: 1224px) {
  /*.sect-arenda .content .logos-wall {
    grid-template-rows: repeat(4, minmax(0, 100%));
    -ms-grid-rows: minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%);
    grid-template-areas: 
	"t1 . t2 . t3 . t4 . t5 ." 
	". c1 . c2 . c3 . c4 . c5" 
	"b1 . b2 . b3 . b4 . b5 ."  
	"newlogo newlogo newlogo newlogo newlogo newlogo newlogo newlogo newlogo newlogo";
  }*/
}
@media (max-width: 1024px) {
	.sect-arenda .content .logos-wall {
		grid-template-rows: repeat(5, minmax(0, 100%));
		-ms-grid-rows: minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%);
		grid-template-areas: "t1 . t2 . t3 . t4" ". c1 . c2 . c3 ." "b1 . b2 . b3 . b4" ". b21 . b22 . b23 ." "newlogo newlogo newlogo newlogo newlogo newlogo newlogo";    
	}
	.sect-arenda .content .logos-wall .new-logo{
		grid-template-columns: repeat(7, minmax(0, 100%));
		-ms-grid-columns: minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%);
		grid-template-rows: repeat(2, minmax(0, 100%));
		-ms-grid-rows: minmax(0, 100%);
		grid-auto-rows: minmax(0, 100%);
		-ms-grid-auto-rows: minmax(0, 100%);
		grid-template-areas: "new1 . new2 . new3 . new4" " . . . new5 . . .";
		gap: 1.5rem 0;
		
	}  
}

@media (max-width: 768px) {
  .sect-arenda .content .logos-wall {
    grid-template-rows: repeat(5, minmax(0, 100%));
    -ms-grid-rows: minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%);
    grid-template-areas: "t1 . t2 . t3 ." ". c1 . c2 . c3" "b1 . b2 . b3 ." ". b21 . b22 . b23" "newlogo newlogo newlogo newlogo newlogo newlogo";
  }
	.sect-arenda .content .logos-wall .new-logo{
		grid-template-columns: repeat(6, minmax(0, 100%));
		-ms-grid-columns: minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%);
		grid-template-rows: repeat(2, minmax(0, 100%));
		-ms-grid-rows: minmax(0, 100%) 1.5rem minmax(0, 100%);
		grid-auto-rows: minmax(0, 100%);
		-ms-grid-auto-rows: minmax(0, 100%);
		grid-template-areas: "new1 . new2 . new3 ." " . new4 . new5 .  .";
		gap: 1.5rem 0;
		
	}   
}
@media (max-width: 540px) {
  .sect-arenda .content .logos-wall {
    grid-template-rows: repeat(6, minmax(0, 100%));
    -ms-grid-rows: minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%) 1.5rem minmax(0, 100%);
    grid-template-areas: "t1 . t2 ." ". c1 . c2" "b1 . b2 ." ". b21 . b22" "newlogo newlogo newlogo newlogo"  "newlogo newlogo newlogo newlogo";
  }
	.sect-arenda .content .logos-wall .new-logo{
		grid-template-columns: repeat(4, minmax(0, 100%));
		-ms-grid-columns: minmax(0, 100%) minmax(0, 100%) minmax(0, 100%) minmax(0, 100%);
		grid-template-rows: repeat(3, minmax(0, 100%));
		-ms-grid-rows: minmax(0, 100%) 1.rem minmax(0, 100%) 1.rem minmax(0, 100%);
		grid-auto-rows: minmax(0, 100%);
		-ms-grid-auto-rows: minmax(0, 100%);
		grid-template-areas: "new1 . new2 . " " . new3 . new4" " . . new5 .";
		gap: 1.5rem 0;
		
	}    
}
@media (max-width: 480px) {
  .sect-arenda .content .logos-wall .new-logo {
    display: block;
  }
}
/*end: new logo*/

.sect-callback .content form.post-form .input {
	max-width:20%;
}
@media(max-width:1000px) {
	.sect-callback .content form.post-form .input {
		max-width:49%;
		padding-bottom:50px;
	}
}
@media (max-width: 540px) {
	.sect-callback .content form.post-form .input {
		max-width:100%;
		padding-bottom:10px;
	}
}