.sect-about.vacant-areas-left {}
.sect-about.vacant-areas-right {
    background: #fff;
}
.sect-about.vacant-areas-right .content .desc {
    color: #212832;
    margin-left: 5%;
}
.sect-about.vacant-areas-right .content h2 {
    color: #ddd;
    margin-left: 5%;
}
.sect-about.vacant-areas-right .content .img div img {
    background: #212832;
}

@media (min-width: 1536px) {
    .sect-about.vacant-areas-right .content h2,
    .sect-about.vacant-areas-left .content h2 {
        font-size:8rem;
    }
}

@media (max-width: 540px) {
    .sect-vacant-areas h1.title {
        text-align:center;
    }
    .sect-about.vacant-areas-right .content {
        flex-direction: column-reverse;
    }

    .sect-about.vacant-areas-right .content h2 {
        color: #999;
        z-index: 999;
        opacity: 0.7;
    }
    .sect-about.vacant-areas-right .content .img div img {
        background: unset;
    }
}
